/* ! base start */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


.logo {
  font-size: 24px;
  font-weight: 500;
  display: flex;
}

button{
  cursor: pointer;
  border: none;
}

.btn{
  display: inline-block;
  line-height: 40px;
  padding: 0 25px;
  font-weight: 500;
  border: 1px solid black;
  transition: all .2s ease;
}

.btn-sm{
  line-height: 33px;
}

.btn-md{
  line-height: 40px;
}

.btn-lg{
  line-height: 45px;
}

.btn-primary{
  background-color: #1367ef;
  color: #fff;
  border-color:#1367ef
}

.btn-primary:hover{
  background-color: #fff;
  color: #1367ef;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"]{
  outline: none;
  border: 1px solid #dee0ea;
  padding: 8px 8px 8px 15px;
}


input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus{
  border-color: gray;
}

input[type="number"]::-webkit-inner-spin-button{
  opacity: 1;
}
/* ! base end */

/* ! header start */
.global-notification {
  background-color: #1367ef;
  color: white;
  padding: 14px 0;
  text-align: center;
  font-size: 12px;
}

.global-notification a {
  color: white;
  font-weight: 600;
}

header {
  border-bottom: 1px solid #dee0ea;
  position: relative;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}



.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header-center .navigation .menu-list {
  display: flex;
  align-items: center;
  column-gap: 30px;

}

.header-center .menu-list .menu-list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 90px;
}



.header-center .menu-list .menu-link {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  position: relative;
}

.header-center .menu-list .menu-link::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #1367ef;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%);
  transition: .2s ease width;

}

.header-center .menu-list .menu-link.active::after {
  width: 100%;
}


.header-center .menu-list .menu-list-item:hover .menu-link::after {
  width: 100%;
}

.header-center .menu-list i {
  font-size: 12px;
}

.header-right .header-right-links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.header-right .bi-person {
  font-size: 23px;
}

.header-right .toggle-button {
  border: none;
  background-color: transparent;
}

.header-right i {
  font-size: 18px;
  display: flex;
}

.header-right .header-cart {
  position: relative;
}


.header-right .header-cart-link .header-cart-count {
  width: 16px;
  height: 16px;
  background-color: #1367ef;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

}


/* ? menu dropdown start */
header .menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  left: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all .2s ease;
}

header .menu-dropdown-content {
  width: 220px;
  background-color: #fff;
  border: 1px solid #dee0ea;
  display: flex;
  flex-direction: column;
  padding: 18px 0;
}

header .menu-dropdown-content a {
  display: flex;
  padding: 4px 30px;
  font-size: 14px;
  transition: color .2s ease;
}

header .menu-dropdown-content a:hover {
  color: #1367ef;
}

.header-center .menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

.menu-dropdown-megamenu {
  background-color: white;
  border: 1px solid #dee0ea;
  display: flex;
  column-gap: 50px;
  padding: 20px;
}

.megamenu-wrapper .menu-dropdown-wrapper {
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.megamenu-wrapper {
  position: static !important;
}

.megamenu-wrapper .megamenu-links {
  display: flex;
  column-gap: 50px;
}

.megamenu-wrapper .megamenu-product-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.megamenu-wrapper .megamenu-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.megamenu-wrapper .megamenu-menu-list {
  font-size: 14px;
}

.megamenu-wrapper .megamenu-single-title {
  font-size: 18px;
  font-weight: 500;
}

.megamenu-wrapper .megamenu-single-subtitle {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.megamenu-wrapper .megamenu-single-button {
  margin-top: 5px;
}



/* ? menu dropdown end */

/* ! header end */

/* ! modal search start */
  .modal-search{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal-search::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
  }

  .modal-wrapper{
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    padding: 30px;
  }

  .modal-wrapper img{
    max-width: 200px;
  }

  .modal-search .modal-title{
    font-size: 30px;
    font-weight: 600;
  }

  .modal-search .modal-text{
    font-size: 14px;
    color: #7a7a7a;
    padding-bottom: 15px;
    border-bottom: 1px solid #dee0ea;
  }
/* ! modal search end */