@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;   
    font-family: 'Jost',sans-serif; 
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

/* ! header start */
.global-notification{
    background-color: #1367ef;
    color: white;
    padding: 14px 0;
    text-align: center;
    font-size: 12px;
}

.global-notification a{
    color: white;
    font-weight: 600;
}
/* ! header end */