.section-title {
    text-align: center;
    margin-bottom: 35px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
}

/* ! categories start */
.categories {
    margin: 40px 0;
}

.categories .category-list {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* ! categories end */

/* ! products start */
.products {
    margin-bottom: 40px;
}

.products .product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

/* ! products end */


/* ! campaigns start */
.campaigns .campaigns-wrapper {
    display: flex;
    gap: 30px;
    margin: 30px 0;
    flex-wrap: wrap;
}

/* ! campaigns end */


/* ! blogs start */
.blogs {
    margin-bottom: 30px;
}

.blogs .blog-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

/* ! blogs end */


/*! policy start  */
.policy {
    margin: 20px;
}

.policy .policy-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.policy .policy-list .policy-item {
    display: flex;
    align-items: center;

}

.policy-list .policy-item i {
    font-size: 50px;
    margin-right: 10px;
}

.policy-list .policy-item .policy-texts {
    display: flex;
    flex-direction: column;
}

.policy-list .policy-item .policy-texts strong {
    font-weight: 600;
}


.policy-list .policy-item .policy-texts span {
    font-size: 12px;
}

/* ! policy end */


/*  responsive */

@media(max-width:1210px) {
    .products .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}


@media(max-width:770px) {
    .blogs .blog-list {
        grid-template-columns: 1fr !important;
    }

    .campaigns .campaign-item {
        width: 100%;
        flex: unset !important;

    }

    .policy .policy-list {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .footer .subscribe-contact-wrapper {
        flex-direction: column;
        row-gap: 25px;
    }

    .widgets-row .footer-widgets .brand-info {
        margin-bottom: 30px;
    }

    .footer-widgets .brand-info .footer-desc {
        width: 100%;
    }

    .widgets-row .footer-widgets>div {
        flex: unset !important;
    }




}


@media(max-width:578px) {
    .products .product-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

}